{% extends 'base.html' %}

{% block content %}
<div id="post-section">
    <div id="header-section">
        <div id="container">
            <div class="login-content discussion_topbar">
                <div class="topic" id="discussions_title">Charaktere</div>
                {% if g.user is not none and g.user['level'] >= 1 %}
                <div class="function_holder" id="without_margin_right">
                    <a class="btnredirect" href="{{url_for('characters.create')}}"><div><span>Neu</span></div><i class="fas fa-plus"></i></a>
                    <a class="btnredirect" href="{{url_for('characters.tags')}}"><div><span>Merkmale</span></div><i class="fas fa-tags"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="topic-section">
        <div class="search">
            <div class="input-div">
                <div class="i">
                    <i class="fas fa-search"></i>
                </div>
                <div class="div">
                    <h5>Suche</h5>
                    <input class="input" type="text" name="search" id="search" onkeyup="searchCharacters()">
                </div>
            </div>
        </div>
    </div>

    <div class="scrollable">
        <div class="topic-section species" id="enfali">
            <h2>Enfali</h2>
            <i class="fas fa-angle-up" aria-hidden="true"></i>
        </div>
        <div class="species_content enfali">
            {% for enf in enfali %}
            <div class="topic-section {{enf['name']}} {{enf['family']}}">
                <a class="characters_name" href="{{url_for('characters.character', id=enf['id'])}}">
                    <i class="fas fa-caret-right"></i>{{ enf['name'] }} {{ enf['family'] }}
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="topic-section species" id="nithriln">
            <h2>Nithriln</h2>
            <i class="fas fa-angle-up" aria-hidden="true"></i>
        </div>
        <div class="species_content nithriln">
            {% for nith in nithriln %}
            <div class="topic-section {{nith['name']}} {{nith['family']}}">
                <a class="characters_name" href="{{url_for('characters.character', id=nith['id'])}}">
                    <i class="fas fa-caret-right"></i>{{ nith['name'] }} {{ nith['family'] }}
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="topic-section species" id="drachen">
            <h2>Drachen</h2>
            <i class="fas fa-angle-up" aria-hidden="true"></i>
        </div>
        <div class="species_content drachen">
            {% for drache in drachen %}
            <div class="topic-section {{drache['name']}} {{drache['family']}}">
                <a class="characters_name" href="{{url_for('characters.character', id=drache['id'])}}">
                    <i class="fas fa-caret-right"></i>{{ drache['name'] }} {{ drache['family'] }}
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="topic-section species"  id="elfen">
            <h2>Elfen</h2>
            <i class="fas fa-angle-up" aria-hidden="true"></i>
        </div>
        <div class="species_content elfen">
            {% for elf in elfen %}
            <div class="topic-section {{elf['name']}} {{elf['family']}}">
                <a class="characters_name" href="{{url_for('characters.character', id=elf['id'])}}">
                    <i class="fas fa-caret-right"></i>{{ elf['name'] }} {{ elf['family'] }}
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="topic-section species"  id="menschen">
            <h2>Menschen</h2>
            <i class="fas fa-angle-up" aria-hidden="true"></i>
        </div>
        <div class="species_content menschen">
            {% for mensch in menschen %}
            <div class="topic-section {{mensch['name']}} {{mensch['family']}}">
                <a class="characters_name" href="{{url_for('characters.character', id=mensch['id'])}}">
                    <i class="fas fa-caret-right"></i>{{ mensch['name'] }} {{ mensch['family'] }}
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="topic-section species" id="zwerge">
            <h2>Zwerge</h2>
            <i class="fas fa-angle-up" aria-hidden="true"></i>
        </div>
        <div class="species_content zwerge">
            {% for zwerg in zwerge %}
            <div class="topic-section {{zwerg['name']}} {{zwerg['family']}}">
                <a class="characters_name" href="{{url_for('characters.character', id=zwerg['id'])}}">
                    <i class="fas fa-caret-right"></i>{{ zwerg['name'] }} {{ zwerg['family'] }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}