{% extends 'base.html' %}

{% block sidebar %}
{% if g.user is not none and g.user['level'] >= 1 %}
<li class="topbar"><a href="{{url_for('characters.create_tag_in_tags')}}"><i class="fas fa-tag"></i></a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="post-section">
    <div class="container">
        <div class="login-content">
            <div>
                <div>
                    <h2>Tags</h2>
                </div>
                <div class="list-information">
                    <div class="scrollable">
                        {% for tag in tags %}
                        <div class="tag">
                            <div class="arrows">
                                <a href="{{ url_for('characters.tag_up', position = tag['position']) }}">
                                    <div class="i">
                                        <i class="fas fa-angle-up up"></i>
                                    </div>
                                </a>
                                <a href="{{ url_for('characters.tag_down', position = tag['position']) }}">
                                    <div class="i">
                                        <i class="fas fa-angle-down down"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="div">
                                <h4>{{ tag['information_title'] }}</h4>
                            </div>
                            <div class="trash">
                                <a href="{{ url_for('characters.delete_tag', position = tag['position']) }}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}