{% extends 'home/home.html' %}

{% block sidebar %}
{% if g.user is not none %}
{% endif %}
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div id="post-section">
    <div class="container">
        <div class="login-content">
            <form method="post">
                <h2 class="title">Kommentar schreiben</h2>
                <div class="input-div text-area">
                    <div class="i">
                        <i class="far fa-comment-dots"></i>
                    </div>

                    <div class="div">
                        <h5>Kommentar</h5>
                        <textarea class="input" name="value" id="area-for-comment" rows="4" required></textarea>
                    </div>

                </div>

                  <input type="submit" value="Erstellen" id="btnconfirm">

            </form>
        </div>
    </div>
</div>
{% endblock %}