{% extends 'base.html' %}

{% block sidebar %}
{% if g.user is not none %}
<li class="topbar"><a href="{{url_for('discussions.open_discussion')}}"><i class="fas fa-folder-plus"></i></a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="post-section">
    <div id="header-section">
        <div id="container">
            <div class="login-content">
                <h2 class="title"><a href="{{url_for('discussions.open_discussion')}}">Diskussionen</a></h2>
            </div>

        </div>

    </div>

    <div id="topic-section">
        <div class="search">
            <div class="input-div">
                <div class="i">
                    <i class="fas fa-search"></i>
                </div>
                <div class="div">
                    <h5>Suche</h5>
                    <input class="input" type="text" name="search" id="search" onkeyup="searchCharacters()">
                </div>
            </div>
        </div>
    </div>

    <div class="scrollable">
        {% for discussion in discussions %}
        <div class="topic-section {{discussion['title']}} {{discussion['name']}}">
            <a href="{{ url_for('discussions.discussion', id=discussion['id']) }}">
                <article class="post">
                    <header>
                        <div>
                            <table>
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>Topic:</th>
                                                <th>{{ discussion['title'] }}</th>
                                            </tr>
                                            <tr>
                                                <td>Opened by:</td>
                                                <td>{{ discussion['name'] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Date:</td>
                                                <td>{{ discussion['created'] }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    {% if g.user is not none and (discussion['author'] == g.user['id'] or g.user['level'] >= 2) %}
                                    <td>
                                        <a href="{{ url_for('discussions.delete_discussion', id=discussion['id']) }}" onclick="return confirm('Wollen sie wirklich ihren Kommentar löschen? Er kann nicht wiederhergestellt werden!')"><i class="fas fa-trash"></i></a>
                                    </td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </header>
                </article>
            </a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}