{% extends 'base.html' %}

{% block sidebar %}
{% if g.user is not none and g.user['level'] > 1 %}
<li class="topbar"><a href="{{url_for('language.create_word', id=language['id'])}}"><i class="fas fa-folder-plus"></i></a></li>
<li class="topbar"><a href="{{url_for('language.edit_language', id=language['id'])}}"><i class="fas fa-cog"></i></a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="post-section">
    <div id="header-section">
        <div id="container">
            <div class="login-content">

                <table>
                    <tr>
                        <th class="language_header">{{language['name']}}</th>
                    </tr>
                    <tr>
                        <td class="language_description">{{language['description']}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

    <div id="topic-section">
        <div class="search">
            <div class="input-div">
                <div class="i">
                    <i class="fas fa-search"></i>
                </div>
                <div class="div">
                    <h5>Suche</h5>
                    <input class="input" type="text" name="search" id="search" onkeyup="searchCharacters()">
                </div>
            </div>
        </div>
    </div>

    <div class="scrollable">
        {% for word in words %}
        <a href="#">
            <div class="topic-section {{word['word']}} {{word['translation']}}" id="{{ word['word'] }}">
                <table>
                    <tr>
                        <th>{{word['word']}}</th>
                        <th>{{word['translation']}}</th>
                    </tr>
                </table>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}