{% extends 'base.html' %}

{% block content %}
<div id="post-section">
    <div class="container">
        <div class="login-content">
            <div class="profile_splitter">
                <div>
                    <img id="account_picture" class="profile_picture"
                         src="/static/pictures/me.jpg">
                    <h2 class="username">Fabius Mettner</h2>
                    <div class="about_user"><div>Ich bin 18 Jahre alt und mache momentan ein FÖJ bei der NAJU Mülheim/Essen.</div></div>
                    <div class="mail_name"><i class="fas fa-envelope"></i>E-Mail: <a href="mailto:fabius.mettner@gmx.de?subject=DfS Kontaktaufnahme">fabius.mettner@gmx.de</a></div>
                </div>
                <div class="list-information">
                    <div class="scrollable">

                        <div class="nav-bar">
                            <div class="tab focused" id="tab-1"><i class="far fa-comment-dots"></i>Meine Lieblingsbücher</div>
                            <div class="tab" id="tab-2"><i class="fas fa-bookmark"></i>Meine Hobbies</div>
                            <div class="tab" id="tab-3"><i class="fas fa-palette"></i>Meine Motivation</div>
                        </div>




                        <div class="license tab-content tab-1 shown">
                            <p>Wo soll ich anfangen. Denn viele Bücher haben mich über die Jahre begeistert. Aber hier will ich euch einen kleinen Überblick meiner literarischen Vorgeschichte geben:</p>
                            <p class="paragraph">Fangen wir vorne an. Bei Harry Potter. Was soll man hier groß sagen. Die "Harry Potter" Saga von JK Rowling hat mich auf den Weg der Fantasy Literatur gebracht und mich lange Zeit begleitet.</p>
                            <p class="paragraph">Als nächstes großes Werk der Fantasyliteratur würde ich wohl "Eragon" von Chrístopher Paolíní einordnen. Auch diese Buchreihe hat mich lange begleitet und vor allem mit seiner speziellen Form der Magie begeistert.</p>
                            <p class="paragraph">Zuletzt möchte ich noch eine Autorin nennen deren Jugendthriller ich mit heller Begeisterung verschlungen habe: Ursula Poznanski.</p>
                        </div>
                        <div class="discussions tab-content tab-2">
                            <p>Nicht nur die Literatur hat mich über die Jahre begleitet. Auch der Sport und die Gemeinschaft haben mich lange Zeit geprägt.</p>
                            <p class="paragraph">So habe ich bei der Leichtathletik immer wieder meine grenzen austesten können. Auch wenn inzwischen die Zeit und Motivation für diesen Sport vergangenheit sind.</p>
                            <p class="paragraph">Auch das Schwimmen begleitet mich schon seit Beginn durch mein Leben und gibt mir im Wasser einen Ort um meine Gedanken zu Ordnen und aufzuräumen. Vorallem die dumpfe Stille unterwasser hat es mir hier angetan.</p>
                            <p class="paragraph">Doch nicht nur Sport steht auf meiner Liste. Weitere Hobbies von mir sind das Klavier und Blockflöte spielen. Und nein ich spiele nur für mich, um meinen Geist und meine Gedanken fittzuhalten, d.h. ich bin kein Profi, in beidem nicht, auch wenn ich die Grundlagen behersche.</p>
                            <p class="paragraph">Jetzt kommt wohl mein letztes Hobby dran. Auch wenn ich es erst relativ spät entdeckt habe, so ist das Programmieren doch schnell ein beständiger Teil meines Alltags geworden. Mit dem "CaRP-Assigner" habe ich schließlich mein Hobby als besondere Lernleistung mit Erfolg ins Abitur genommen.</p>
                        </div>
                        <div class="discussions tab-content tab-3">
                            <p>Motivation. Ein hartes Wort. Hier will ich darüber sprechen, wie ich mit dieser Energie umgehe. Ich muss offen zugeben, dass das Schreiben nur eines meiner Hobbies ist und oft auch zu kurz kommt. Doch trotz der großen "Hobbykonkurenz" kehre ich doch immer wieder zu meiner Geschichte zurück und bringe sie sprachlich und inhaltich weiter vorran.</p>
                            <p class="paragraph">Meinen Ehrgeiz dieses Lebenswerk, wie ich es gerne nenne vorranzubringen, kann man wohl an diesem Projekt, dieser Website erraten. Ich habe durch sie versucht mein wissen des Programmierens zur Voranbringung meiner Geschichte zu nutzen. Vielleicht noch ein Rat. Manchmal hilft auch Abstand um neue Motivation zu sammeln und schließlich besser und vorallem auch schneller an seinem Werk weiterzukommen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}