{% extends 'base.html' %}

{% block sidebar %}

{% endblock %}

{% block background %}{{url_for('static', filename='pictures/DfS-StartScreen.JPG')}}{% endblock %}

{% block content %}
<div id="post-section">
    <div id="header-section">
        <div id="container">
            <div class="login-content">
                <h2 class="title">Profile</h2>
            </div>

        </div>
    </div>

    <div id="topic-section">
        <div class="search">
            <div class="input-div">
                <div class="i">
                    <i class="fas fa-search"></i>
                </div>
                <div class="div">
                    <h5>Suche</h5>
                    <input class="input" type="text" name="search" id="search" onkeyup="searchCharacters()">
                </div>
            </div>
        </div>
    </div>

    <div class="scrollable">
        {% for user in users %}
        <div class="topic-section {{user['name']}} {{user['email']}}">
            <a href="{{ url_for('home.visit_profile', id=user['id']) }}">
                <article class="post">
                    <header>
                        <div>
                            <table>
                                <tr>
                                    <td class="profile_picture_container">
                                        <img class="profile_picture" src="{{ url_for('home.profile_picture', id=user['id']) }}">
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th class="profile_descriptions">Name:</th>
                                                <th class="profile_values">{{ user['name'] }}</th>
                                            </tr>
                                            <tr>
                                                <th class="profile_descriptions">E-Mail:</th>
                                                <th class="profile_values">{{ user['email'] }}</th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </header>
                </article>
            </a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}