{% extends 'base.html' %}

{% block special_styling %}

{% endblock %}

{% block content_new %}
<div id="top">
    <div id="top_background">
        <div id="description">
          <div id="description_header">Die fünf Schwerter</div>
          <div id="description_text">Dies ist die offizielle Website zu der Buchreihe 'Die fünf Schwerter' von Fabius Mettner. Hier kannst du alles zu den Hintergründen des Buches erfahren und einiges mehr. Nimm auch gerne an unseren Diskussionen Teil oder veröffentliche dein eigenes Fanart oder deine eigene Fanstory aus der Welt der fünf Schwerter.</div>
          <a class="btnredirect" href="{{url_for('home.me')}}">
            <div><span>Über mich</span></div><i class="fas fa-chevron-right"></i>
          </a>
        </div>
    </div>
</div>
<div class="book_section">
  <div class="topic" id="books_title">Bücher</div>
  <div id="books">
    <div class="book_card">
      <div class="cover"><img src="/static/pictures/Background.JPG"></div>
      <div class="book_name">Schatten und Licht</div>
      <a class="btnredirect" href="{{url_for('home.sul_preview')}}">
        <div><span>Leseprobe</span></div><i class="fas fa-chevron-right"></i>
      </a>
    </div>
  </div>
</div>
<!--<div id="fanart">
  <div class="topic" id="fanart_title">Fanart</div>
  <div class="discussions">
    <a class="card card_add" href="#"><i class="fas fa-plus"></i></a>
    <a class="card" href="#">
      <div class="discussion_topic">Schatten und Licht</div>
      <img src="./Background.jpg" alt="" class="card_img">
    </a>
    <a href="#" class="card all_discussions">Weitere</a>
  </div>
  <a class="btnredirect" href="#">
    <div><span>Weitere</span></div><i class="fas fa-chevron-right"></i>
  </a>
</div>
<div id="shortstories">
  <div class="topic" id="shortstories_title">Kurzgeschichten</div>
  <div class="discussions">
    <a class="card card_add" href="#"><i class="fas fa-plus"></i></a><div class="book_card">
    <div class="cover"><img src="./Background.jpg"></div>
    <div class="book_name">Schatten und Licht</div>
    <a class="btn_holder" href="#">Lesen</a>
  </div>
    <a href="#" class="card all_discussions">Weitere</a>
  </div>
  <a class="btnredirect" href="#">
    <div><span>Weitere</span></div><i class="fas fa-chevron-right"></i>
  </a>
</div>-->

<div id="discussions">
  <div class="topic" id="discussions_title">Diskussionen</div>
  <div class="discussions">
    {% for discussion in discussions %}
    <div class="card" href="{{ url_for('discussions.discussion', id=discussion['id']) }}">
      <div class="discussion_topic">{{ discussion['title'] }}</div>
      <div class="discussion_description">{{ discussion['description'] }}</div>
      <div class="discussion_footer">
        <div>
          <div class="discussion_author">Autor: {{ discussion['name'] }}</div>
          {% for comment in comments %}
          {% if comment['id'] == discussion['id'] %}
          {% if comment['comments'] == 1 %}
          <div class="discussion_author">{{ comment['comments'] }} Nachricht</div>
          {% else %}
          <div class="discussion_author">{{ comment['comments'] }} Nachrichten</div>
          {% endif %}
          {% endif %}
          {% endfor %}

        </div>
        <div class="open_discussion">
          <a class="btnredirect" href="{{ url_for('discussions.discussion', id=discussion['id']) }}">
            <div><span>Öffnen</span></div><i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="discussion_date">Erstellt am {{ discussion['created'] }}</div>
    </div>
    {% endfor %}

  </div>
  <a class="btnredirect" href="{{ url_for('discussions.index') }}">
    <div><span>Weitere</span></div><i class="fas fa-chevron-right"></i>
  </a>
</div>

{% endblock %}