{% extends 'home/home.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div id="post-section">
    <div class="container">
        <div class="login-content">
            <form method="post">
                <h2 class="title">Passwort zurücksetzen</h2>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Passwort</h5>
                        <input class="input" type="password" name="password" id="password" required>
                    </div>
                </div>
                <div class="input-div pass-check">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Passwort wiederholen</h5>
                        <input class="input" type="password" name="passwordcheck" id="passwordcheck" required>
                    </div>
                </div>

                <input id="btnconfirm" type="submit" value="Zurücksetzen">

            </form>
        </div>
    </div>
</div>
{% endblock %}