{% extends 'home/home.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div id="post-section">
    <div class="container">
        <div class="login-content">
            <form method="post">
                <h2 class="title">Passwort Antrag</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Benutzername</h5>
                        <input class="input" type="text" name="username" id="username" maxlength="25" required>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                        <h5>E-Mail</h5>
                        <input class="input" type="email" name="mail" id="mail" maxlength="25" required>
                    </div>
                </div>
                <input id="btnconfirm" type="submit" value="E-Mail senden">
            </form>
        </div>
    </div>
</div>
{% endblock %}