{% extends 'base.html' %}

{% block sidebar %}
{% if g.user is not none and g.user['level'] >= 1 %}
<li class="topbar"><a href="{{ url_for('map.upload_map') }}"><i class="fas fa-folder-plus"></i></a></li>
{% endif %}
<li class="topbar"><a href="#"><i class="fas fa-exchange-alt"></i></a></li>
{% endblock %}

{% block direct_body %}
<div class="center">
    <div class="map_container">
        <div class="slideshow-container">
            {% for map in maps %}
            <div class="mySlides fade">
                <a href="{{url_for('map.send_map', name=map)}}">
                    <div class="map_card fade">

                        <img src="{{ url_for('map.send_map', name=map) }}" style="width:100%">
                        <div class="card_text">
                            <h3 class="card_title">{{ map.split('.')[0] }}</h3>
                        </div>

                    </div>
                </a>
            </div>
            {% endfor %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
</div>

{% endblock %}