{% extends 'base.html' %}

{% block sidebar %}
{% if g.user is not none %}
{% endif %}
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div id="post-section">
    <div class="container">
        <div class="login-content">
            <form method="post">
                <h2 class="title">Diskussion öffnen</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-folder-plus"></i>
                    </div>
                    <div class="div">
                        <h5>Thema</h5>
                        <input class="input" type="text" name="theme" id="theme" maxlength="25" required>
                    </div>
                </div>
                <div class="input-div text-area">
                    <div class="i">
                        <i class="far fa-comment-dots"></i>
                    </div>

                    <div class="div">
                        <h5>Beschreibung</h5>
                        <textarea class="input" name="value" id="area-for-comment" rows="4" required></textarea>
                    </div>

                </div>

                <button id="btnconfirm" type="submit">
                    <div><span>Erstellen</span></div><i class="fas fa-chevron-right"></i>
                </button>

            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block background %}{{url_for('static', filename='pictures/DfS-StartScreen.JPG')}}{% endblock %}