{% extends 'base.html' %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div id="post-section">
    <div id="header-section">
        <div id="container">
            <div class="login-content discussion_topbar">
                <div class="topic" id="discussions_title">Diskussionen</div>
                <a class="btnredirect" href="{{url_for('discussions.open_discussion')}}"><div><span>Neu</span></div><i class="fas fa-plus"></i></a>
            </div>

        </div>

    </div>

    <div id="topic-section">
        <div class="search">
            <div class="input-div">
                <div class="i">
                    <i class="fas fa-search"></i>
                </div>
                <div class="div">
                    <h5>Suche</h5>
                    <input class="input" type="text" name="search" id="search" onkeyup="searchCharacters()">
                </div>
            </div>
        </div>
    </div>

    <div class="scrollable">
        <div id="discussions">

            <div class="discussions">
                {% for discussion in discussions %}
                    <div class="card topic-section {{discussion['title']}} {{discussion['name']}}" href="{{ url_for('discussions.discussion', id=discussion['id']) }}">
                        <div class="discussion_topic">{{ discussion['title'] }}</div>
                        <div class="discussion_description">{{ discussion['description'] }}</div>
                        <div class="discussion_footer">
                            <div>
                                <div class="discussion_author">Autor: {{ discussion['name'] }}</div>
                                {% for comment in comments %}
                                    {% if comment['id'] == discussion['id'] %}
                                        {% if comment['comments'] == 1 %}
                                            <div class="discussion_author">{{ comment['comments'] }} Nachricht</div>
                                        {% else %}
                                            <div class="discussion_author">{{ comment['comments'] }} Nachrichten</div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="open_discussion">
                                <a class="btnredirect" href="{{ url_for('discussions.discussion', id=discussion['id']) }}">
                                    <div><span>Öffnen</span></div><i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="discussion_date">Erstellt am {{ discussion['created'] }}</div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

</div>

{% endblock %}