{% extends 'base.html' %}

{% block content %}
<div id="post-section">
    <div class="container">
        <div class="login-content">
            <form method="post" enctype="multipart/form-data">
                <h2>Karte hinzufügen</h2>

                <div class="input-div name">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Name</h5>
                        <input class="input" name="filename" id="filename" maxlength="25" required>
                    </div>
                </div>

                <div class="picture_change">
                    <img id="profile_picture" class="profile_picture map_input" src="{{ url_for('auth.profile_picture') }}" onclick="triggerPictureChoose()">
                    <input type="file" name="image_loader" id="image_loader" onchange="displayImage(this)">
                    <div class="edit_picture_text" onclick="triggerPictureChoose()"><div><i class="fas fa-pencil-alt"></i>Edit</div></div>
                </div>

                <button id="btnconfirm" type="submit">
                    <div><span>Hinzufügen</span></div><i class="fas fa-chevron-right"></i>
                </button>

            </form>

        </div>
    </div>
</div>
{% endblock %}