{% extends 'base.html' %}

{% block content %}
<div id="post-section">
    <div id="header-section">
        <div id="container">
            <div class="login-content discussion_topbar">
                <div class="topic" id="discussions_title">Karten</div>
                <a class="btnredirect" href="{{url_for('map.upload_map')}}"><div><span>Neu</span></div><i class="fas fa-plus"></i></a>
            </div>

        </div>
    </div>

    <div class="maps">
        {% for map in maps %}
            <a class="map" href="{{ url_for('map.send_map', name=map) }}">
                <div class="map_name">{{ map.split('.')[0] }}</div>
                <img class="map_img" src="{{ url_for('map.send_map', name=map) }}">
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}