{% extends 'home/home.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div id="post-section">
    <div class="container">
        <div class="login-content">
            <form method="post">
                <h2 class="title">Tag</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-tag"></i>
                    </div>
                    <div class="div">
                        <h5>Name</h5>
                        <input class="input" type="text" name="name" id="name" maxlength="25" required>
                    </div>
                </div>

                <input id="btnconfirm" type="submit" value="Erstellen">

            </form>
        </div>
    </div>
</div>
{% endblock %}