{% extends 'home/home.html' %}

{% block sidebar %}
{% if g.user is not none and g.user['level'] >= 1 %}
<li class="topbar"><a href="{{url_for('characters.character', id=character['id'])}}"><i class="fas fa-check"></i></a></li>
{% endif %}
{% endblock %}

{% block content %}
<div id="post-section">
    <div class="container">
        <div class="login-content">
            <form method="post">
                <h2 class="title">Charakter</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Name</h5>
                        <input class="input" type="text" name="name" id="name" maxlength="25" value="{{character['name']}}" required>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-user-tag"></i>
                    </div>
                    <div class="div">
                        <h5>Familie</h5>
                        <input class="input" type="text" name="family" id="family" value="{{character['family']}}" required>
                    </div>
                </div>

                <div class="input-div selector-line">
                    <div class="i">
                        <i class="fas fa-user-tag"></i>
                    </div>
                    <div class="div">
                        <h5>Species</h5>


                        <div class="select-box select_species">
                            <div class="option-container select_species">

                                <div class="option Enfali">
                                    <input type="radio" class="radio" id="Enfali" name="category">
                                    <label for="Enfali">Enfali</label>
                                </div>
                                <div class="option Nithriln">
                                    <input type="radio" class="radio" id="Nithriln" name="category">
                                    <label for="Nithriln">Nithriln</label>
                                </div>
                                <div class="option Drache">
                                    <input type="radio" class="radio" id="Drache" name="category">
                                    <label for="Drache">Drache</label>
                                </div>
                                <div class="option Mensch">
                                    <input type="radio" class="radio" id="Mensch" name="category">
                                    <label for="Mensch">Mensch</label>
                                </div>
                                <div class="option Zwerg">
                                    <input type="radio" class="radio" id="Zwerg" name="category">
                                    <label for="Zwerg">Zwerg</label>
                                </div>
                                <div class="option Elf">
                                    <input type="radio" class="radio" id="Elf" name="category">
                                    <label for="Elf">Elf</label>
                                </div>

                            </div>

                            <input class="input selected" name="species" id="select_species" value="{{character['species']}}" readonly="readonly">


                            <div class="search-box">
                                <input type="text" placeholder="Suche..." />
                            </div>
                        </div>

                    </div>
                    <div class="i arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>

                {% for c_tag in c_tags %}
                <div class="input-div line4">
                    <div class="i">
                        <i class="fas fa-tag"></i>
                    </div>


                    <div class="div">
                        <h5>Tag</h5>

                        <div class="select-box {{c_tag['information_title']}}.{{c_tag['value']}}">
                            <div class="option-container {{c_tag['information_title']}}.{{c_tag['value']}}">
                                {% for tag in tags %}
                                <div class="option {{c_tag['information_title']}}.{{c_tag['value']}}">
                                    <input type="radio" class="radio" id="{{c_tag['information_title']}}.{{c_tag['value']}}.option" name="category">
                                    <label for="{{c_tag['information_title']}}.{{c_tag['value']}}.option">{{tag['information_title']}}</label>
                                </div>
                                {% endfor %}
                            </div>
                            {% for tag in tags %}
                            {% if tag['position'] == c_tag['position'] %}
                            <input class="selected {{c_tag['information_title']}}.{{c_tag['value']}}" name="{{c_tag['information_title']}}.{{c_tag['value']}}" id="{{c_tag['information_title']}}.{{c_tag['value']}}" value="{{tag['information_title']}}" readonly="readonly">
                            {% endif %}
                            {% endfor %}

                            <div class="search-box">
                                <input type="text" placeholder="Suche..." />
                            </div>
                        </div>


                    </div>

                    <div class="i arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>

                    <div class="div">
                        <h5>Wert</h5>

                        <input class="input second" type="text" name="{{c_tag['information_title']}}.{{c_tag['value']}}.value" id="{{c_tag['information_title']}}.{{c_tag['value']}}.value" value="{{c_tag['value']}}">
                    </div>

                </div>
                {% endfor %}

                <div class="input-div line4">
                    <div class="i">
                        <i class="fas fa-tag"></i>
                    </div>


                    <div class="div">
                        <h5 class="selection-header">Tag</h5>


                        <div class="select-box new_tag">
                            <div class="option-container new_tag">
                                {% for tag in tags %}
                                <div class="option tags">
                                    <input type="radio" class="radio" id="{{tag['information_title']}}" name="category">
                                    <label for="{{tag['information_title']}}">{{tag['information_title']}}</label>
                                </div>
                                {% endfor %}
                            </div>

                            <input class="selected" name="select_tag" id="select_tag" readonly="readonly">


                            <div class="search-box">
                                <input type="text" placeholder="Suche..." />
                            </div>
                        </div>

                    </div>

                    <div class="i arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>

                    <div class="div">
                        <h5>Wert</h5>

                        <input class="input second" type="text" name="tag" id="tag">
                    </div>

                </div>

                <input id="btnconfirm" type="submit" value="Speichern">

            </form>
        </div>
    </div>
</div>
{% endblock %}